<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-83806060-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-83806060-5');
    </script>

    <meta charset="utf-8" />
    <title>@Page.Title - Construction Management Global</title>
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    @*<header>
            <div class="content-wrapper">
                <div class="content-wrapper">

                    <div class="MenuBox">

                        <nav>
                            <ul id="menu">
                                <li><a href="~/">Home</a></li>

                                <li><a href="~/">Services</a></li>
                                <li><a href="~/DigitalPortfolio.cshtml">Historical Projects &amp; Digital Portfolio</a></li>

                                <li><a href="~/Default.cshtml"><img src="~/Images/CMG.png" style="width:256px;" /></a></li>
                                <li><a href="~/OurReferences.cshtml">Our References</a></li>
                                <li>
                                    <a href="~/About.cshtml">About</a>
                                    <ul class="nav-dropdown">
                                        <li><a>Mission</a> </li>
                                    </ul>
                                </li>
                                <li><a href="~/Contact.cshtml">Contact</a></li>

                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </header>*@


    <section class="navigation">
        <div class="nav-container">
            <div class="brand">
                <a href="~/Default.cshtml">

                    <img src="~/Images/cmg.png" style="width:196px;" />
                </a>
            </div>
            <nav>
                <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
                <ul class="nav-list">
                    <li>
                        <a href="~/Default.cshtml" style="letter-spacing: 3px; font-family:aleo-regular; font-size:16px;">Home</a>
                    </li>

                    <li>
                        <a href="#!" style="letter-spacing: 3px; font-family:aleo-regular; font-size:16px;">About</a>
                        <ul class="nav-dropdown">
                            <li>
                                <a href="~/About.cshtml" style="letter-spacing: 3px; font-family:aleo-regular; font-size:18px;">John Dunatov</a>
                            </li>
                            <li>
                                <a href="~/About.cshtml#Services">Our Services</a>
                            </li>

                            @*<li>
                    <a href="~/Graphic Design.cshtml">Graphic Design</a>
                </li>*@
                            <li>
                                <a href="~/About.cshtml#Projects">Projects Commited/In Progress</a>
                            </li>
                            @*<li>
                    <a href="~/Web Hosting.cshtml">Web Hosting</a>
                </li>*@
                        </ul>
                    </li>
                    <li>
                        <a href="~/DigitalPortfolio.cshtml" style="letter-spacing: 3px; font-family:aleo-regular; font-size:16px;">Historical Projects &amp; Digital Portfolio</a>
                    </li>
                    <li>
                        <a href="~/OurReferences.cshtml" style="letter-spacing: 3px; font-family:aleo-regular; font-size:16px;">Our References</a>
                    </li>
                    <li>
                        <a href="~/Contact.cshtml" style="letter-spacing: 3px; font-family:aleo-regular; font-size:16px;">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>


    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()

            <hr />
            <p class="textSection" style="font-size:12px;"> Construction Management Global, LLC is fully licensed & bonded. We specialize in the Development, Construction, Renovation, and FFE Procurement for the Hospitality industry, High-end residential/condominiums, and apartments small or commerical, world wide.


        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <ul class="sitemap">

                    <li>
                        <a href="/Default.cshtml">Home</a>
                    </li>
                    <li>
                        <a href="~/About.cshtml">About</a>

                    </li>
                    <li>
                        <a href="~/">Services</a>
                    </li>

                </ul>

                <ul class="sitemap">
                    <li>
                        <a href="~/">Historical Projects &amp; Digital Portfolio</a>
                    </li>
                    <li>

                        <a href="~/OurReferences.cshtml">Our References</a>
                    </li>
                    <li>
                        <a href="~/Contact.cshtml">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <p style="color:white; text-align:center; padding-right:20%;">Design by <a href="www.akirawebsolutions.com"> AkiraWebSolutions </a></p>
        <div class="float-right">

            <p style="color:white;">&copy; @DateTime.Now.Year - Construction Management Global LLC. <img src="~/Images/turninglobe.gif" style="width:64px;" /></p>
        </div>

    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>


    <script>(function ($) { // Begin jQuery
        $(function () { // DOM ready
            // If a link has a dropdown, add sub menu toggle.
            $('nav ul li a:not(:only-child)').click(function (e) {
                $(this).siblings('.nav-dropdown').toggle();
                // Close one dropdown when selecting another
                $('.nav-dropdown').not($(this).siblings()).hide();
                e.stopPropagation();
            });
            // Clicking away from dropdown will remove the dropdown class
            $('html').click(function () {
                $('.nav-dropdown').hide();
            });
            // Toggle open and close nav styles on click
            $('#nav-toggle').click(function () {
                $('nav ul').slideToggle();
            });
            // Hamburger to X toggle
            $('#nav-toggle').on('click', function () {
                this.classList.toggle('active');
            });
        }); // end DOM ready
        })(jQuery); // end jQuery</script>




<style>
    .MenuBox {
        text-align: center;
    }

    header {
        background-color: black;
    }

    ul.sitemap {
        display: inline-block;
    }

    ul.menu {
        text-align: center;
    }

    a.menu {
        color: forestgreen;
    }

    a:link, a:visited, a:active, a:hover {
        color: white;
    }
</style>